.accommodation-page {
    min-height: 50vh;
    width: 100vw;
    padding-left: 5rem;
    padding-right: 5rem;
    @include flex-column;

    &__arrow-div {
        height: 5rem;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        cursor: pointer;
    }

    &__top-info {
        width: 100vw;
        height: 7vh;
        display: flex;
        justify-content: space-between;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    &__top-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &__stay-name {
        @include heading;
        margin: 0px;
    }

    &__stay-location {
        color: $light-grey;
    }

    &__bookmark-icon {
        height: 25%;
    }

    &__stay-img {
        width: 100%;
        height: 35vh;
        object-fit: cover;
        border-radius: 5px;
    }

    &__stay-type-div {
        display: flex;
        align-items: center;
    }

    &__stay-type {
        @include heading;
        margin: 0px;
    }

    &__house-icon {
        width: 3rem;
    }

    &__bedroom-number {
        margin: 0px;
    }

    &__booking-div {
        @include flex-column;
        align-items: flex-start;
        border: 2px solid $light-grey;
        border-radius: 5px;
    }

    &__utensils-icon {
        width: 3rem;
    }

    &__host-img {
        width: 10rem;
        border-radius: 360px;
    }

    &__amenities-icon {
        width: 10rem;
    }
}