.available-stays {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 3rem;

    &__h1 {
        @include heading;
        margin-right: .5rem;
    }

    &__filters {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__sort-price {
        @include filter-btn;
        margin-left: .5rem;
        margin-right: .5rem;
    }

    &__accommodation-type {
        @include filter-btn;
        margin-left: .5rem;
        margin-right: .5rem;
    }

    &__btn {
        @include filter-btn;
        @include center;
        margin-left: .5rem;
        margin-right: .5rem;
    }
}

.available-card-container {
    width: 100vw;
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    padding-left: 3rem;
}

.accommodation-card {
    width: 18rem;
    height: 25rem;
    @include flex-column;

    &__img {
        height: 70%;
        width: 90%;
        object-fit: cover;
        cursor: pointer;
        border-radius: $curved-border;
    }

    &__div {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__name {
        @include text;
        margin: 0;
    }

    &__location {
        @include text;
        color: $grey;
    }
}