.top-nav {
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
    box-shadow: 0px 2px 5px grey;

    &__h1{
        @include text;
        font-size: 2rem;
        margin: 0px;
        z-index: 10000;
        cursor: pointer;
    }

    &__img{
        height: 40%;
    }
}

@media only screen and (max-width: 600px){
    .top-nav {
        &__h1 {
            z-index: -100;
        }
    }
}