
.search-bar {
    min-width: 10%;
    max-width: 50%;
    min-height: 5vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 360px;
    border: 1px solid $light-grey;
    box-shadow: 0px 2px 5px grey;
    padding-top: .2rem;
    padding-bottom: .2rem;

    &__div{
        display: flex;
        flex-direction: column;
    }

    &__label{
        margin: 0px;
        @include text;
    }

    &__location-select{
        @include text;
        color: $grey;
        background: none;
        border: none;
    }

    &__guest-select{
        @include text;
        color: $grey;
        background: none;
        border: none;
    }

    &__location-div{
        padding-left: 1rem;
        padding-right: .5rem;
        border-right: 1px solid $light-grey;
    }

    &__check-in-div{
        padding-left: .5rem;
        padding-right: .5rem;
        border-right: 1px solid $light-grey;
    }

    &__check-out-div{
        padding-left: .5rem;
        padding-right: .5rem;
        border-right: 1px solid $light-grey;
    }

    &__guests-div{
        padding-left: .5rem;
    }

    &__search-div{
        padding-right: 1rem;
    }

    &__search-icon{
        height: 2rem;
        cursor: pointer;
    }

    &__input{
        border-style: none;
        @include text;
    }
}


.search-initial-position{
    max-width: 90%;
}

@media only screen and (max-width: 600px){
    .search-bar {
        max-width: 90%;

        &__div {
            max-width: 23%;
        }

        &__label {
            font-size: 1rem;
        }

        &__input {
            font-size: 1rem;
        }
    }
}